absl-py
astunparse
backoff
bidict
blinker
certifi
cffi
chardet
charset-normalizer
click
coinbase
coinbase-advanced-py
colorama
contourpy
cryptography
cycler
dnspython
email-validator
eventlet
Flask
Flask-Mail
Flask-SocketIO
flatbuffers
fonttools
gast
google-pasta
grpcio
gunicorn
h11
h5py
httpx
idna
importlib-resources
itsdangerous
Jinja2
joblib
keras
kiwisolver
libclang
Markdown
markdown-it-py
MarkupSafe
matplotlib
mdurl
ml-dtypes
namex
networkx
numpy
opt_einsum
optree
packaging
pandas
pandas-ta
pillow
pip
protobuf
pyasn1
pyasn1_modules
pycparser
pycryptodome
Pygments
PyJWT
pyotp
pyparsing
pydantic
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
requests
requests
rich
rsa
scikit-learn
scipy
seaborn
setuptools
simple-websocket
six
# sklearn - replaced with scikit-learn which is already included above
statsmodels
structlog
ta
tensorboard
tensorboard-data-server
tensorflow
tensorflow-cpu
tenacity
termcolor
threadpoolctl
tqdm
typing_extensions
tzdata
urllib3
websockets
Werkzeug
wheel
wrapt
wsproto
yfinance
zipp
